@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Noto+Serif+JP:wght@700&family=Outfit:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}


/* styling for header */

.navbar {
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}



.navbar-menu {
    display: flex;
    gap: 20px;
    align-self: flex-end;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
}

.navbar-menu li,
.navbar-menu a {
    list-style: none;
    color: #03a9fa;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.5s;
}

.navbar-menu li:hover {
    font-weight: bold;
    color: #032e6f;
    transform: translateY(-5px);
}


.logo-wrapper {
    padding-bottom: 34px;
}


.logo {
    transition: 1s;
}

.logo h1 {
    position: absolute;
    font-size: 2em;
    font-weight: bolder;
    transition: 0.5s;
}

.logo h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #03a9fa;
}

.logo h1:nth-child(2) {
    color: #03a9fa;
    animation: water 4s ease-in-out infinite;
}


/* @keyframes bounce {
    0% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(50px);
    }
} */


@keyframes water {

    0%,
    100% {
        clip-path: polygon(0 45%, 15% 44%, 32% 50%,
                54% 60%, 70% 61%, 84% 59%, 100% 52%,
                100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 60%, 16% 65%, 34% 66%,
                51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0 100%);
    }
}







/* styling for footer */
.footer-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Outfit', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}


footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}


@keyframes animateWave {
    0% {
        background-position-x: 0px;
    }

    50% {
        background-position-x: 500px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 1000px;
    }

    50% {
        background-position-x: 500px;
    }

    100% {
        background-position-x: 0px;
    }
}


@media only screen and (max-width: 768px) {
    .footer-wrapper {
        width: 100%;
        overflow: auto;
    }

    .footer-menu {
        display: flex;
        font-size: 12px;
        font-weight: bold;
    }

    p {
        font-size: 12px;
    }

}